<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
    <h3>Character editor</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">Name</label>
        <div>
            <input type="text" name="Name" ng-model="model.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Health</label>
        <div>
            <input type="text" name="Health" ng-model="model.Health" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Mana</label>
        <div>
            <input type="text" name="Mana" ng-model="model.Mana" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Level</label>
        <div>
            <input type="text" name="Level" ng-model="model.Level" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Gold</label>
        <div>
            <input type="text" name="Gold" ng-model="model.Gold" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">IsImmortal</label>
        <div>
            <input type="text" name="IsImmortal" ng-model="model.IsImmortal" class="form-control" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
</div>